body.chats {
  height: 100vh;
  overflow: hidden;
}

.chat {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);

  @include media-breakpoint-down(md) {
    height: calc(100vh - 56px);
  }
}

.messages {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column-reverse;
  overflow-y: scroll;

  .message {
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 32px;

    .message__text {
      border-radius: 8px;
      display: inline-block;
      max-width: 60%;
      padding: 8px;
    }
  }

  .message--interlocutor {
    .message__text {
      background-color: #09c;
      margin-left: 16px;
    }
  }

  .message--current-user {
    justify-content: flex-end;
    margin-right: 16px;

    .message__text {
      background-color: #ffbb73;
      margin-right: 16px;
    }
  }
}

.messages :first-child {
  margin-bottom: 0;
}

.message-form {
  display: flex;
  margin: 8px 0;

  .message-form__text {
    margin: 0 16px 0 0;
    width: 100%;
  }

  .message-form__button {
    height: 38px;
  }
}
