.content-wrapper {
  padding: 15px 15px 0;
  width: 100%;
}

.sidebar {
  width: 200px;
}

.sidebar-headling__link {
  &:hover {
    color: black;
    text-decoration: none;
  }

  color: black;
}

.nav-info {
  color: $grey-dark-65;
  display: block;
  padding: 0.5rem 1rem;
}
