<ul>
  <%- if allowed_to?(:new?, User, with: UserPolicy) %>
    <%= link_to "Invite user", new_user_invitation_path, class: "btn btn-primary" %>
    <br/>
    <br/>
  <% end %>

  <% users.each do |user| %>
    <li class="row">
      <div class="col">
        <%= user.full_name %>
      </div>
      <div class="col">
        <% if current_user.chat_with(user: user).nil? %>
          <%= link_to "+", chats_path(chat: { user_id: user.id }), method: :post %>
        <% else %>
          <%= link_to "+", chat_path(current_user.chat_with(user: user)) %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
