<ul>
  <%- if allowed_to?(:new?, User, with: UserPolicy) %>
    <%= link_to "Invite user", new_user_invitation_path, class: "btn btn-primary" %>
    <br/>
    <br/>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Full name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render users %>
    </tbody>
  </table>
</ul>
