@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.chats-list {
  flex-direction: column;
  width: 250px;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.chat-link {
  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: black;
    text-decoration: none;
  }
}
