@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.chats-list {
  flex-direction: column;
  width: 350px;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.chat-link {
  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: black;
    text-decoration: none;
  }
}

.chat_people {
  clear: both;
  overflow: hidden;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.chat_ib h5 {
  color: #464646;
  font-size: 15px;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  float: right;
  font-size: 13px;
}

.chat_ib p {
  color: #989898;
  font-size: 14px;
  margin: auto;
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.active_chat {
  background: #ebebeb;
}
