.active {
  background: #ebebeb;
}

.chatItemContainer {
  clear: both;
  overflow: hidden;
}

.chatItem {
  border-bottom: 1px solid #c4c4c4;
  cursor: pointer;
  margin: 0;
  min-height: 76px;
  padding: 18px 16px 10px;

  &:hover {
    background: #f7f7f7;
  }
}

.details {
  display: flex;
  line-height: 1.3;
}

.interlocutorFullName {
  color: #464646;
  font-size: 15px;
  margin: 0 0 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.date {
  color: #464646;
  float: right;
  font-size: 15px;
  padding-left: 3px;
  white-space: nowrap;
}

.badge {
  float: right;
  font-size: 13px;
}

.interlocutorAvatar {
  float: left;
  margin-right: 8px;
}

.lastMessage {
  color: #989898;
  font-size: 14px;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
