<h1>Root page</h1>

<% unless user_signed_in? %>
  <%= link_to t("devise.shared.links.sign_in"), new_user_session_path %>
<% else %>
  <%= current_user.full_name %>

  <%= link_to "Users", users_path %>
<% end %>
