@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.chat {
  display: flex;
}

.dialog {
  display: flex;
  flex-direction: column;
  height: calc(101vh - 64px);
  padding: 10px 0 0 10px;
  width: 100%;

  @include media-breakpoint-down(md) {
    height: calc(100vh - 56px);
  }
}
