@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.chat {
  display: flex;
}

.chatsList {
  border-right: 1px solid #c4c4c4;
}

.dialog {
  display: flex;
  flex-direction: column;
  height: calc(103vh - 64px);
  padding: 10px 0;
  width: 100%;

  @include media-breakpoint-down(md) {
    height: calc(100vh - 56px);
  }
}
