@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

body.chats {
  height: 100vh;
  overflow: hidden;
}

.chat {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);

  @include media-breakpoint-down(md) {
    height: calc(100vh - 56px);
  }
}
