.interlocutor {
  background: #f7f7f7;
  border-bottom: 1px solid #c4c4c4;
  color: #464646;
  font-size: 18px;
  padding-bottom: 21px;
  padding-top: 22px;
}

.interlocutorAvatar {
  float: left;
  padding: 0 10px;
}

.interlocutorFullName {
  padding-top: 3px;
}
